@import "../Mixins/Display.scss";
.Admin {
  min-height: 71vh;
  background-image: url("../../Assets/FondFreepik.jpg");
  background-size: cover;
  @include DisplayCenter;
  flex-direction: column;
  padding: 40px 0;
  button {
    cursor: pointer;
  }
  h1,
  h2 {
    color: white;
    font-size: 30px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .BoxButtons,
  .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    button {
      width: 140px;
      padding: 5px;
      margin: 5px 5px;
      color: white;
      border: 1px solid white;
      background-color: transparent;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      transition: all 1s ease;
      .icon {
        margin-left: 5px;
      }
      &:hover {
        color: black;
        border: 1px solid aqua;
        background-color: white;
      }
    }
  }
  .buttons > button {
    width: 100px;
  }
  .Box {
    color: white;
    margin-top: 30px;
    .buttons {
      @include DisplayCenter;
      button {
        margin: 20px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        &:hover {
          background-color: black;
          color: white;
          border: 1px solid white;
        }
      }
    }
  }
  .Liste {
    th,
    td {
      width: 200px;
      padding: 5px;
      border: 1px solid white;
    }
    td {
      padding-left: 5px;
    }
  }
  .LoginForm,
  form {
    @include DisplayCenter;
    flex-direction: column;

    padding: 20px;
    border: 2px dashed white;
    border-radius: 5px;
    h1,
    input,
    button {
      margin-bottom: 20px;
    }
    button {
      cursor: pointer;
    }
    input {
      background-color: white;
      padding: 5px;
      font-size: 15px;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .error {
      text-align: center;
      margin: 0 10px;
      margin-bottom: 10px;
      text-shadow: 2px 2px 3px black;
      color: red;
    }
    .submit {
      font-size: 14px;
      margin-top: 20px;

      color: white;
      font-weight: 900;
      padding: 8px;
      border-radius: 5px;
      border: none;
      color: white;
      border: 1px solid white;
      background-color: transparent;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: white;
        border: 1px solid white;
        background-color: cadetblue;
      }
    }
  }
}
