@import "../Mixins/SectionStyle.scss";
@import "../Mixins/ArticlesOne.scss";
@import "../Mixins/FormStyle.scss";
@import "../Mixins/supp.scss";
.OneAuthor {
  > article {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    margin-bottom: 30px;
    @include ArticlesOne;
  }
  .sup {
    @include supStyle;
  }
  form {
    @include FormStyle;
  }

  @include SectionStyle;
}
