@import "../Mixins/SectionStyle.scss";
@import "../Mixins/ArticlesOne.scss";
@import "../Variables.scss";
.OneBook {
  .Details {
    > div {
      display: flex;
      box-sizing: border-box;
      .texts {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
        padding: 8px;
        border-radius: 5px;
        box-sizing: border-box;

        .link {
          color: white;
          padding: 5px;
          font-size: 15px;
          text-decoration: none;
          border-radius: 5px;
          background-color: transparent;
          &::after {
            color: white;
          }
          &:hover {
            color: $purpleColor;
            font-size: 17px;
          }
        }
      }
      h1,
      p {
        margin-bottom: 10px;
        font-size: 20px;
        color: white;
      }
      .starIcon {
        color: yellow;
        margin-right: 5px;
      }
    }
    .Desc {
      margin-top: 30px;
      color: white;
      background-image: url("../../Assets/FondFreepik3.jpg");
      background-size: cover;
      border: 1px solid rgba(255, 255, 255, 0.424);
      margin-left: 10px;
      padding: 8px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 1px rgb(131, 131, 131);
    }
  }

  @include SectionStyle;
}
