@import "../Mixins/SectionStyle.scss";
@import "../Mixins/ArticlesOne.scss";
@import "../Variables.scss";
.OneBook {
  .Details {
    > div {
      display: flex;
      box-sizing: border-box;
      .texts {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
        padding: 8px;
        border-radius: 5px;
        box-sizing: border-box;

        .link {
          color: white;
          padding: 5px;
          font-size: 15px;
          text-decoration: none;
          border-radius: 5px;
          background-color: transparent;
          &::after {
            color: white;
          }
          &:hover {
            color: $purpleColor;
            font-size: 17px;
          }
        }
      }
      h1,
      p {
        margin-bottom: 10px;
        font-size: 20px;
        color: white;
      }
      .starIcon {
        color: yellow;
        margin-right: 5px;
      }
    }
    .Desc {
      margin-top: 30px;
      color: white;
      background-image: url("../../Assets/FondFreepik3.jpg");
      background-size: cover;
      border: 1px solid rgba(255, 255, 255, 0.424);
      margin-left: 10px;
      padding: 8px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 1px rgb(131, 131, 131);
    }
  }
  .Message {
    font-size: 25px;
    color: white;
    margin-top: 10px;
    text-align: center;
  }
  label {
    background-color: red;
    margin-right: auto;
    margin-left: 5%;
    left: 2px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    select {
      border: none;
      cursor: pointer;
    }
  }
  form {
    margin-top: 10px;
    width: 90%;

    textarea {
      min-height: 70px;
      border-radius: 5px;
      border: none;
      padding: 5px;
      resize: vertical;
      width: 100%;
    }
    .submit {
      margin-top: 10px;
      cursor: pointer;
      font-size: 14px;
      color: black;
      font-weight: 900;
      padding: 5px;
      border-radius: 5px;
      border: none;
      background-image: url(../../Assets/papierLettre2.jpg);
      background-size: cover;
      transition: background-image 0.3s ease-in-out;
      &:hover {
        background-image: url(../../Assets//papierLettre.jpg);
      }
    }
  }

  .Reviews {
    margin: 20px 0;
    padding: 5px;
    box-sizing: border-box;
    article {
      margin: 20px 0;
      padding: 10px;
      border-radius: 5px;
      background-image: url("../../Assets/papierRBV.png");
      background-size: cover;
      p {
        font-size: 17px;
        font-weight: 800;
        text-shadow: 0px 0px 20px white;
        color: black;
        background-color: rgba(255, 255, 255, 0.252);
      }
      .message {
        padding: 0 10px;
      }
      .date {
        padding-top: 10px;
        text-align: right;
      }
    }
  }
  @include SectionStyle;
}
