@import "../Mixins/Display.scss";
.UserForm {
  @include DisplayCenter;
  background-color: rgba(255, 192, 203, 0.355);
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0px;
  .LoginForm,
  .RegisterForm,
  .UpdateForm {
    @include DisplayCenter;
    position: relative;
    background-image: url("../../Assets/FondFreepik4.jpg");
    background-size: cover;

    border-radius: 5px;
    flex-direction: column;
    background-color: white;
    height: 50%;
    width: 50%;
    button {
      cursor: pointer;
    }
    .disconnect {
      position: absolute;
      top: 20px;
      left: 20px;
      background-color: red;
      color: white;
      font-weight: 900;
      font-size: 15px;
      border: 1px solid white;
      border-radius: 5px;
      transition: All 0.3s ease-in-out;
      &:hover {
        background-color: transparent;
        color: red;
        border: 2px dashed red;
      }
    }
    .X {
      position: absolute;
      top: 20px;
      right: 20px;
      border-radius: 5px;
      background-color: gray;
      color: white;
      font-weight: 900;
      border: 2px solid white;
      transition: All 0.3s ease-in-out;

      &:hover {
        border: 2px solid gray;
        color: gray;
        background-color: white;
      }
    }
    h1 {
      font-size: 30px;
      font-weight: 900;
      text-align: center;
      margin-bottom: 20px;
      color: black;
      text-shadow: 2px 2px 5px white;
    }
    .error {
      text-align: center;

      margin: 0 10px;
      margin-bottom: 10px;
      text-shadow: 2px 2px 3px white;
      color: red;
    }
    input {
      background-color: white;
      padding: 5px;
      font-size: 15px;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    .submit {
      font-size: 14px;

      color: white;
      font-weight: 900;
      padding: 8px;
      border-radius: 5px;
      border: none;
      background-image: url(../../Assets/B.jpg);
      background-size: cover;
      transition: background-image 0.3s ease-in-out;
      &:hover {
        background-image: url(../../Assets/BHover.png);
      }
    }
    .deleteAccount {
      margin-top: 10px;
      color: red;
      text-shadow: 1px 1px 1px white;
      box-shadow: 0px 0px 1px 1px white;
      background-color: transparent;
      padding: 3px;
      border-radius: 5px;
      border: 1px solid red;
      font-weight: 900;
      transition: All 0.3s ease-in-out;
      &:hover {
        color: white;
        text-shadow: 1px 1px 1px black;
        box-shadow: 0px 0px 1px 1px black;
        background-color: red;
        padding: 3px;
        border-radius: 5px;
        border: 1px solid white;
      }
    }
    .changeForm {
      margin-top: 10px;
      padding: 3px;
      border-radius: 5px;
      color: white;
      background-color: transparent;
      border: 1px solid white;
      text-shadow: 2px 2px 2px black;
      transition: All 0.3s ease-in-out;
      &:hover {
        color: black;
        border: 1px solid black;
        text-shadow: 2px 2px 2px white;
      }
    }
  }
}
